body {
	background: black;
	color: white;
	font-family: 'Bubbler One', sans-serif;
	max-width: 1040px;
	min-width: 1033px;
	margin: auto;
}

.heading {
	font-family: 'Josefin Sans', sans-serif;
}

.page-title {
	align-items: center;
	display: flex;
	font-size: 30px;
	justify-content: center;
	text-transform: uppercase;
}

.navbar {
	display: flex;
	justify-content: space-between;
	margin: 0, 10;
}

.main-logo {
	width: 355px;
	height: 155px;
}

.navbar-text {
	display: flex;
	flex-direction: column;
	font-family: 'Josefin Sans', sans-serif;
	justify-content: stretch;
}

.navbar-seasons {
	display: flex;
	flex-direction: row;
	align-content: flex-end;
	justify-content: flex-end;
}

.navbar-seasons p a {
	font-size: 22px;
	text-decoration: none;
	margin: 0px 8px;
}

li a, a:link {
	text-decoration: none;
	color: #871a8e;
}
li a, a:visited {
	color: #871a8e;
}
li a, a:hover {
	color: #92cbff;
}
li a, a:active {
	color: #b692ff;
}

.home-page a {
	display: flex;
	text-decoration: none;
	font-size: 18px;
	align-items: center;
	justify-content: center;
}

.divider {
	background-color: white;
	margin: 3px 0px;
	height: 2px;
}

.home-title, .title {
	display: flex;
	align-content: center;
	margin-left: 40px;
	font-size: 35px;
}

.content, .content p {
	margin: 10px 50px;
}

.content li {
	list-style: none;
	margin-top: 10px;
}

.episode-title {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
}

.home-title-closer {
	font-size: 25px;
	margin-left: 550px;
}

.enterprise-thumb {
	margin: 20px;
	margin-left: 880px;
	position: relative;
}

img.rating {
	width: 120px;
}

.copyright {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}