body {
	background: black;
	color: white;
	font-family: 'Bubbler One', sans-serif;
	max-width: 1040px;
	min-width: 1033px;
	margin: auto;
}

.heading {
	font-family: 'Josefin Sans', sans-serif;
}

.page-title {
	align-items: center;
	display: flex;
	font-size: 30px;
	justify-content: center;
	text-transform: uppercase;
}

.navbar {
	display: flex;
	justify-content: space-between;
	margin: 0, 10;
}

.main-logo {
	width: 355px;
	height: 155px;
}

.navbar-text {
	display: flex;
	flex-direction: column;
	font-family: 'Josefin Sans', sans-serif;
	justify-content: stretch;
}

.navbar-seasons {
	display: flex;
	flex-direction: row;
	align-content: flex-end;
	justify-content: flex-end;
}

.navbar-seasons p a {
	font-size: 22px;
	text-decoration: none;
	margin: 0px 8px;
}

li a, a:link {
	text-decoration: none;
	color: #871a8e;
}
li a, a:visited {
	color: #871a8e;
}
li a, a:hover {
	color: #92cbff;
}
li a, a:active {
	color: #b692ff;
}

.home-page a {
	display: flex;
	text-decoration: none;
	font-size: 18px;
	align-items: center;
	justify-content: center;
}

.character-page a {
	display: flex;
	text-decoration: none;
	font-size: 18px;
	align-items: center;
	justify-content: center;
	margin-bottom: 15px;
}

.divider {
	background-color: white;
	margin: 3px 0px;
	height: 2px;
}

.comment-divider {
	background-color: white;
	margin-top: 20px;
	margin-bottom: 5px;
	height: 1px;
}

.home-title, .title {
	display: flex;
	align-content: center;
	margin-left: 40px;
	font-size: 35px;
}

.content, .content p {
	margin: 10px 50px;
}

.content li {
	list-style: none;
	margin-top: 10px;
	font-family: 'Josefin Sans', sans-serif;
}

.episode-title {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
}

.home-title-closer {
	font-size: 25px;
	margin-left: 550px;
}

.enterprise-thumb {
	margin: 20px;
	margin-left: 880px;
	position: relative;
}

img.rating {
	width: 120px;
}

.content-heading {
	margin-left: 38px;
	margin-bottom: -10px;
}

.character-list li {
	margin: 2px 50px;
}
.copyright {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.character-list ul {
	display: flex;
	flex-direction: column;
	margin-left: 50px;
}

.character-list li {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	list-style: none;
	margin: 10px;
}

.character-name {
	font-size: 18px;
	font-weight: 600;
}

.character-list label {
	margin-left: 30px;
}

.character-list button {
	background: #871a8e;
	border: 1px solid #92cbff;
	border-radius: 3px;
	color: white;
	font-family: 'Josefin Sans', sans-serif;	
	margin-top: 4px;
	padding: 3px 8px;
}

.character-list button.delete {
	background: black;
	border: 1px solid white;
	color: #ff325a;
	display: flex;
	margin-top: 3px;
	margin-left: 30px;
}

.character-list select {
	border: 1px solid #871a8e;
	border-radius: 5px;
	color: black;
	font-family: 'Josefin Sans', sans-serif;	
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
	width: 300px;
}


.submission {
	font-family: 'Josefin Sans', sans-serif;
}

.add-comment {
	margin-left: 50px;
	font-family: 'Josefin Sans', sans-serif;
}

.submit-comment ul {
	display: flex;
	flex-direction: column;
	margin-left: 50px;
	margin-top: -30px;
}

.submit-comment li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	margin: 10px;
}

.submit-comment input {
	border: 1px solid grey;
	border-radius: 3px;
	margin-left: 20px;
	font-weight: 600;
	font-family: 'Bubbler One', sans-serif;
}

.submit-comment textarea {
	border: 1px solid grey;	
	border-radius: 3px;
	font-family: 'Bubbler One', sans-serif;
	font-size: 15px;
	font-weight: 600;
}

.submit-comment button {
	background: #871a8e;
	border: 1px solid #92cbff;
	border-radius: 3px;
	color: white;
	font-family: 'Josefin Sans', sans-serif;

}

.comment-heading {
	font-family: 'Josefin Sans', sans-serif;
	margin-left: 50px;
}


.comments {
	border: solid 1px white;
	border-radius: 3px;
	margin-left: 100px;
	margin-top: 25px;
	padding: 0px 15px;
	width: 500px;
}

.comments h3 {
	font-size: 25px;
}
