<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="'Episodes for Season ' + ${season.name}" />
	<link rel="stylesheet" type="text/css" href="/style.css"/>
		<link href="https://fonts.googleapis.com/css?family=Bubbler+One|Josefin+Sans:400, 600" rel="stylesheet"/>
</head>
<body>
	<h1 class="heading page-title">Paige's Reviews - Star Trek: The Next Generation</h1>
		<div class="divider">
	</div>
		<div class="navbar">
		<img class="main-logo" src="/images/sttnglaser_logo.jpg"
		alt="Logo for Star Trek TNG - The Enterprise flying over a planet" />
		<div class="navbar-text">
			<div class="navbar-seasons">
				<p th:each="current: ${seasons}">
					<a th:href="@{/tngseason(id=${current.id})}" th:text="'Season ' + ${current.name}" />
				</p>
			</div>	
				<div class="character-page">
					<a th:href="@{/characters}">List of Characters</a>
			</div>
			<div class="home-page">
					<a th:href="@{/home}">Back to Home Page &rarr;</a>
			</div>
		</div>
	</div>
		<div class="divider">
	</div>

	<h2 class="heading title" th:text="'Episodes for Season ' + ${season.name}" />
	<div class="content">
			<ul th:each="current: ${season.episodes}" >
				<li class="episode-title" th:text="${current.name}"/>
				<li th:text="${current.description}"/>
				<li><a  th:href="@{/tngseason/episode(id=${current.id})}">Full Review</a></li>
			</ul> 
			</div>
	
</body>
<footer class="copyright">&#169; All STAR TREK trademarks and logos are owned by CBS Studios Inc.</footer>
</html>